{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

{% else %}
<div class='container' style='background-color: #1d2225; width: 40vw; height: 40vh; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border-radius: 20px; padding-top: 20px;'>
	<form method="POST">
		{% csrf_token %}
	  <div>

	    <label for="exampleInputPassword1" class="form-label" style="color : white"> <b>UserName</b></label>
	    <input type="text" name='username' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
	  </div>
	  <div >
	  	<br>
	    <label for="exampleInputPassword1" class="form-label" style="color : white"><b>Password</b></label>
	    <input type="text" name='password' class="form-control" id="exampleInputPassword1">
	  </div>
	  <br>
	  <center><button type="submit" class="btn btn-secondary" >Submit</button></center>
	</form>
</div>
{% endif %}

{% endblock %}