{% extends 'base.html' %}

{% block content %}
<div class='container' style='width: 40vw; height: 50vh; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color : #1d2225 ; border-radius: 20px ; padding-top: 20px;	'>
	<form method="POST">
		{% csrf_token %}
		
		<div>
		   <label for="exampleInputPassword1" class="form-label" style="color : white"> <b>UserName</b></label>
		   <input type="text" name='username' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		</div>
		<div ><br>
		    <label for="exampleInputPassword1" class="form-label" style="color : white"><b>Password</b></label>
		    <input type="text" name='password1' class="form-control" id="exampleInputPassword1">
	  	</div>
	  	<div ><br>
		    <label for="exampleInputPassword1" class="form-label" style="color : white"><b>Password</b></label>
		    <input type="text" name='password2' class="form-control" id="exampleInputPassword2">
	  	</div>
	  	<br>
		<center><input type="submit" class='btn btn-secondary'></center>
	</form>
</div>
{% endblock %}